.product-card {
  /* transition: 0.3s; */
  height: 400px !important;
  margin-bottom: 15px;
}

.edit-action {
  opacity: 0;
  cursor: pointer;
}

.product-card:hover .edit-action {
  opacity: 1;
  /* transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
}

body {
  background-color: rgb(248, 248, 248) !important;
}
